.login-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 800px;
  margin: 20px;
}

.login-modal-container > h1 {
  margin: 0px;
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: rgb(123, 123, 253);
}

.username-input-row, .password-input-row {
  display: flex;
  flex-direction: row;
}

.login-button {
  background-color: green;
  width: 50%;
  align-self: center;
}
