.village-page-container {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 1022px;
  margin: 50px auto;
  padding-top: 250px;
  justify-content: center;
  align-items: center;
  background-image: url("../../static/images/Background.png");
  background-size: contain;
  border: solid goldenrod 15px;
  box-sizing: border-box;
  border-style: groove;
}

.village-option-closed > p {
  color: red;
  margin: 0px;
  height: 50px;
}

.village-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width: 75%;
  height: 70%;
}

.village-character-option {
  position: relative;
  top: 0px;
  right: -380px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  width: 60%;
  height: 200%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border: none !important;
}

button.village-option-closed {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.village-option {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.village-options-container > p {
  z-index: 1000;
}

.village-options-container > button:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 10%, rgb(255, 230, 0) 1500px);
  border-radius: 25%;
}

.shop {
  position: relative;
  top: 0px;
  left: -124px;
  height: 200%;
  width: 40%;
  border: none;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-clip-path: inset(-100px -100px -100px 0px);
  clip-path: inset(-100px -100px -100px 0px);
}

.adventures {
  position: relative;
  top: 0px;
  right: 300px;
  height: 200%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
}

.unselected-char {
  position: relative;
  left: 380px;
  top: 30px;
}
