.errors {
  text-emphasis-color: red;
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content + 100px;
  width: fit-content;
  background-color: rgb(123, 123, 253);
}
