.errors {
  text-emphasis-color: red;
}

.create-character-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterNameError {
  position: absolute;
  top: 50px;
}

.create-char-button {
  background-color: rgb(0, 170, 0);
  border-radius: 20px;
  width: 300px;
  height: 50px;
  margin: 50px;
}

.create-char-button:hover {
    background-color: rgb(0, 192, 0);
    box-shadow: 0px 0px 10px white;
}

.name-input-row {
  margin: 55px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name-input-row > .characterNameError {
  color: rgb(255, 75, 75);
  position: absolute;
  top: 105px;
  right: 190px;
  font-size: 20px;
}

.appearance-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appearance-select-container > .appearanceError {
  color: rgb(255, 75, 75);
  position: absolute;
  top: 215px;
  font-size: 20px;
}

.name-input-row > .adventureError {
  color: rgb(255, 75, 75);
  position: absolute;
  top: 18px;
  left: 80px;
  font-size: 30px;
  font-weight: bolder;
}


.appearance-options-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  padding: 0px;
}

.boys-select-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.girls-select-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

[type=radio] {
  position: relative;
  top: 20px;
  right: -60px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: gold;
}

[type=readio]::after {
  background-color: gold;
}

.adventureError {
  position: absolute;
  width: 100%;
  top: 75px;
  left: 50px;
  font-size: 25px;
}

.name-input-row > label {
  font-size: 25px;
}

.name-input-row > label > p {
  margin: 0px;
  align-self: start;
}
