/* site wide styles */

@font-face {
  font-family: immortalFont;
  src: url("./static/Font/IMMORTAL.ttf");
}

body {
  margin: 0px;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, skyblue 90%, green 10%);
  height: 100vh;
  font-size: 20px;
  font-family: immortalFont;
  cursor: url("../src/static/images/mouse.png"), auto;
  caret-color: transparent;
}

#root {
  height: 100%;
}

/* Chrome/Safari/Opera */
html::-webkit-scrollbar {
  display: none;
  cursor: url("../src/static/images/mouse.png"), auto;
}


html {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;  /* Firefox */
    cursor: url("../src/static/images/mouse.png"), auto;
  }

  button {
  cursor: url("../src/static/images/mouse.png"), auto;
  font-family: immortalFont;
}

  button:active {
      cursor: url("../src/static/images/mouse-click.png"), auto;
  }

a {
  color: goldenrod;
    cursor: url("../src/static/images/mouse.png"), auto;
}

a:active {
        cursor: url("../src/static/images/mouse-click.png"), auto;
}

img {
      cursor: url("../src/static/images/mouse.png"), auto;
}

input {
      cursor: url("../src/static/images/mouse.png"), auto;
     caret-color: black !important;

}

input:active {
      cursor: url("../src/static/images/mouse-click.png"), auto;
}
