/* TODO Add site wide styles */

body {
  margin: 0px;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, skyblue 90%, green 10%);
  height: 100vh;
  font-size: 20px;
  font-family: fantasy;
  border: solid goldenrod 15px;
  box-sizing: border-box;
  border-style: groove;
}

/* Chrome/Safari/Opera */
html::-webkit-scrollbar {
  display: none;
}


html {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
  cursor: pointer;
}

a {
  color: goldenrod;
}
