.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1022px;
  height: 650px;
  margin: 50px auto;
  border: solid goldenrod 15px;
  box-sizing: border-box;
  border-style: groove;
}

.about-page-container > h1 {
  display: flex;
  flex-direction: column;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.links-left {
  width: 100%;
  height: 45%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.links-right {
  width: 100%;
  height: 45%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-right > a {
  color: black;
}
