.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  background-color: rgb(255, 255, 255);
}

.nav-items-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  list-style-type: none;
}

.landing-navlinks {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logged-in-nav-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.user-log-commands-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

.landing-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15%;
}

.user-input-container {
  display: flex;
  flex-direction: column;
}

.demo-user-button {
  background-color: red;
}
