.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.nav-items-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.landing-navlinks {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logged-in-nav-container {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.user-log-commands-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}

.landing-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

.modal-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
}

.modal-buttons-container > button {
  background-color: gray;
  border-radius: 5px;
  color: gold;
}

.modal-buttons-container > button:hover {
  background-color: rgb(171, 171, 171);
  border-radius: 5px;
  color: rgb(255, 226, 62);
}

.demo-user-button {
  background-color: rgb(133, 0, 0);
  border-radius: 5px;
  color: gold;
}

.demo-user-button:hover {
  background-color: rgb(191, 2, 2);
  border-radius: 5px;
  color: rgb(251, 221, 52);
}

.log-out-button {
  background-color: rgb(133, 0, 0);
  border-radius: 5px;
  color: gold;
}

.log-out-button:hover {
  background-color: rgb(191, 2, 2);
  border-radius: 5px;
  color: rgb(251, 221, 52);
}

a:hover {
    color: rgb(54, 47, 6);
}


.static-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.selected-character-title {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
}
