#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(123, 123, 253);
  border-radius: 25px;
  height: 600px;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 600px;
}

.sign-up-button {
  background-color: green;
  width: 50%;
}
