form.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 90%;
  height: 100%;
}

.sign-up-button {
  background-color: green;
  width: 50%;
  border-radius: 20px;
  height: 50px;
  align-self: center;
}

form {
  font-size: 30px;
}

input {
  height: 100%;
  font-size: 25px;
}

.sign-up-form-container > .errors {
  font-size: 25px;
}

.sign-up-form-container > .firstNameError {
  position: absolute;
  top: 75px;
  right: 30px;
}

.sign-up-form-container > .usernameError {
  position: absolute;
  top: 167px;
  right: 30px;
}

.sign-up-form-container > .passwordError {
  position: absolute;
  top: 260px;
  right: 30px;
}

.confirm-password-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
