.adventure-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 80vh;
  width: 80%;
  margin: auto;
}

.page-title {
  font-weight: bolder;
}

.adventure-options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.adventure-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 177);
}

.add:hover {
  background-color: white;
}
