.adventure-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 80%;
  height: 95vh;
  margin: auto;
}

.page-title {
  font-weight: bolder;
}

.adventure-options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 15px;
}

.adventure-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 177);
}

.add:hover {
  background-color: white;
}

.no-character-adv-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.current-adventure-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 205, 205);
  width: 80%;
  height: 85vh;
  margin: auto;
  border: solid gray 5px;
  box-sizing: border-box;
  border-style: groove;
  box-sizing: border-box;
}

.adventure-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  border: solid gray 5px;
  box-sizing: border-box;
  border-style: groove;
  box-sizing: border-box;
}

.bottom-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.adv-top-left {
  width: 33%;
  height: 100%;
}

.adv-top-right {
  width: 33%;
  height: 100%;
}

.full-game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.help-button-container > button {
  background-color: rgb(0, 162, 255);
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 4px;
  border: solid white 2px;
  box-shadow: 0px 0px 5px black;
}

.help-button-container > button:hover {
  background-color: rgb(0, 162, 255);
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 4px;
  border: solid white 2px;
  box-shadow: 0px 0px 5px black, 0px 0px 25px white;
}


.stage-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
}

.spacer-div {
  height: 10vh;
}

.visual-game-container {
  border: solid red 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.math-game-container {
  border: solid blue 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon {
  border: solid black 1px;
  box-sizing: border-box;
  margin: 5px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  border: solid green 1px;
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.answers-container {
  border: solid salmon 1px;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.answer {
  font-size: 45px;
  border: solid black 1px;
  box-sizing: border-box;
  width: 45%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 25px;
  margin: 1%;
}

.answer:hover {
  background-color: rgb(62, 101, 66);
}

.end-of-adventure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.run-away-button {
  background-color: rgb(0, 92, 15);
  width: 100px;
  height: 50px;
  border-radius: 50px;
  color: gold;
}

.use-potion-button {
  background-color: red;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  color: white;
}
