.shop-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1022px;
  height: 650px;
  margin: 50px auto;
  border: solid goldenrod 15px;
  box-sizing: border-box;
  border-style: groove;
  background-color: rgb(189, 107, 49);
}

.shop-item {
  width: 100px;
  height: 100px;
  align-self: center;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: black;
}

.item-title {
  font-size: 15px;
  text-align: center;
  color: white;
}

.coin-image {
  width: 20px;
  height: 20px;
}

.option-container {
  border: solid goldenrod 5px;
  box-sizing: border-box;
  border-style: groove;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 250px;
}

.purchase-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.purchase-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 30px;
  padding-right: 15px;
  background-color: brown;
}

.purchase-button:hover {
  background-color: rgb(201, 60, 60);
  box-shadow: 0px 0px 10px white;
}

.purchase-button:active {
  background-color: rgb(110, 29, 29);
}

.item-title {
  height: 25px;
}
