.shop-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1022px;
  height: 650px;
  margin: 50px auto;
  border: solid goldenrod 15px;
  box-sizing: border-box;
  border-style: groove;
  background-color: rgb(189, 107, 49);
}

.potions-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid goldenrod 10px;
  box-sizing: border-box;
  border-style: groove;
}
.weapons-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid goldenrod 10px;
  box-sizing: border-box;
  border-style: groove;
}
.armor-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid goldenrod 10px;
  box-sizing: border-box;
  border-style: groove;
}

.shop-item {
  border: solid goldenrod 5px;
  box-sizing: border-box;
  border-style: groove;
  background-color: transparent;
  width: 100px;
  height: 100px;
  align-self: center;
}

.option-container {
  display: flex;
  flex-direction: row;
}
