
/* Container styles */
.health-bar-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

/* Bar styles */
.HealthBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  width: 50%;
  transition: width 0.1s ease-in-out;
}

/* Color variations based on health percentage */
.HealthBar.green {
  background-color: green;
}

.HealthBar.orange {
  background-color: orange;
}

.HealthBar.red {
  background-color: red;
}

.player-healthbar-container {
  margin: 5px;
  width: 50%;
  background-color: white;
}

.enemy-healthbar-container {
  width: 50%;
  margin: 5px;
  background-color: white;
}
