
/* Container styles */
.health-bar-container {
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden;
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Bar styles */
.HealthBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30px;
  transition: width 0.1s ease-in-out;
}

/* Color variations based on health percentage */
.HealthBar.green {
  background-color: green;
}

.HealthBar.orange {
  background-color: orange;
}

.HealthBar.red {
  background-color: red;
}
